<html>
	<head>
	</head>
	<body>
		<h1>This is a confirmation email for you {{ .Name }}</h1>
		{{ .Message }}
		<hr />

		<p>Please click this link to confirm your email:</p>
		<a href="{{ .ConfirmLink }}">{{ .ConfirmLink }}</a>
	</body>
</html>